<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div>

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="typeName">Type Name:</label>
    <div class="col-sm-4">
        <input type="text"  id="typeName" class="form-control" placeholder="TypeName" ng-model="$parent.typeName">
    </div>
</div>



<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="name">Name :</label>
    <div class="col-sm-4">
        <input type="text"  id="name" class="form-control" placeholder="name" ng-model="$parent.name">
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="description">description :</label>
    <div class="col-sm-4">
        <input type="text"  id="description" class="form-control" placeholder="description" ng-model="$parent.description">
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="locationUri">locationUri :</label>
    <div class="col-sm-4">
        <input type="text"  id="locationUri" class="form-control" placeholder="locationUri" ng-model="$parent.locationUri">
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="owner">owner :</label>
    <div class="col-sm-4">
        <input type="text"  id="owner" class="form-control" placeholder="owner" ng-model="$parent.owner">
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>

</div>