

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="typeName">Type Name:</label>
    <div class="col-sm-8">
        <input type="text"  id="typeName" class="form-control" placeholder="TypeName" ng-model="$parent.typeName">
    </div>
</div>



<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="name">Name :</label>
    <div class="col-sm-8">
        <input type="text"  id="name" class="form-control" placeholder="name" ng-model="$parent.name">
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="description">description :</label>
    <div class="col-sm-8">
        <input type="text"  id="description" class="form-control" placeholder="description" ng-model="$parent.description">
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="locationUri">locationUri :</label>
    <div class="col-sm-8">
        <input type="text"  id="locationUri" class="form-control" placeholder="locationUri" ng-model="$parent.locationUri">
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2"></div>
    <label class="control-label col-sm-2" for="owner">owner :</label>
    <div class="col-sm-8">
        <input type="text"  id="owner" class="form-control" placeholder="owner" ng-model="$parent.owner">
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>