   <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       <span class="pull-left" style="color:#fff;">Apache Atlas</span>
						<img src="img/user7.png">
                    </a>
                </li>
                <li>
				 
                    <a href="#" style="color:#fff;"> <span class="fa fa-arrow-left"></span>
					<span class="left-menuitem active">Pivotal Labs</span>
					<span class="badge badge-info">9</span>
					</a>
                </li>
                <li>
                    <a href="#"> <span class="left-menuitem">Branding</span>
					<span class="badge badge-default">21</span>
					</a>
                </li>
                <li>
                    <a href="#"> 
						<span class="left-menuitem">Careers</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                    <a href="#"> 
						<span class="left-menuitem">Client Resources</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                    <a href="#"> 
						<span class="left-menuitem">Human Resources</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                   <a href="#"> 
						<span class="left-menuitem">Lab Practices</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                     <a href="#"> 
						<span class="left-menuitem">Offices</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
				 <li>
                    <a href="#"> 
						<span class="left-menuitem">Recruitments</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                   <a href="#"> 
						<span class="left-menuitem">Sales</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
                <li>
                     <a href="#"> 
						<span class="left-menuitem">Practice Management</span>
                        <span class="badge badge-default">18</span>
					</a>
                </li>
            </ul>
        </div>