

<div id="wrapper" class="wrapper-padding"  ng-controller ="PivotalController">
   <!-- Sidebar -->
   <div id="sidebar-wrapper" class="sidebar-width">
      <ul class="sidebar-nav">
         <li class="sidebar-brand bdr-bottam">
            <a href="#">
            <span class="pull-left logo">Apache Atlas</span>
            <span class="pull-right user-icon"><img src="img/user7.png"></span>
            </a>
         </li>
         <!-- <li class="bdr-bottam">
            <a class="left-menu-active" data-ui-sref="pivotal">
            <span class="fa fa-arrow-left"></span>
            <span class="left-menuitem active">{{response.name}}</span>
            <span class="badge badge-info">{{response.subCategoryCount}}</span> 
            </a>
         </li> -->
        <!--  <li class="bdrnone" ng-repeat="subcat in response.subCategories">
            <a href="#"> <span class="fa fa-file"></span>
            <span class="mrgin"> {{subcat.name}}</span>
            <span data-ng-if="subcat.subCategoryCount > 0" class="badge badge-info">{{subcat.subCategoryCount}}</span></a>
         </li> -->
         <li class="bdr-bottam">
            <div class="panel-group" id="accordion">
               <div class="panel bdr-bottam" style="background-color:#353545;" ng-repeat="catgris in response.categories">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <span class="fa fa-arrow-left"></span>
                        <a data-toggle="collapse" data-parent="#accordion" style="margin-left:15px;" href="#collapse2" class="" aria-expanded="true">{{catgris.name}}</a>
                         <span data-ng-if="catgris.subCategoryCount > 0" class="badge badge-info">{{catgris.subCategoryCount}}</span></a>
                     </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                     <div class="panel-body">
                        <ul style="color:#fff;">
                           <li ng-repeat="subCat in catgris.subCategories">
                              <span class="mrgin">{{subCat.name}}</span>
                              <span data-ng-if="subCat.subCategoryCount > 0" class="badge badge-info">{{subCat.subCategoryCount}}</span></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <!-- /#sidebar-wrapper -->
   <!-- Page Content -->
   <div id="page-content-wrapper" class="page-content-wrapper-widht">
      <div class="container-fluid">
         <div class="row menu-top">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 top-menu-item1">
               <a href="#menu-toggle" id="menu-toggle">
                  <span><i id="headernav" class="fa fa-bars" style="font-size: 45px;"></i></span>
                  <!--<span><i id="headernav2" class="fa fa-chevron-left" style="font-size: 45px;"></i></span>-->
               </a>
            </div>
            <div class="col-lg-6 top-menu-item">
               <ul class="breadcrumb breadcrumb-default">
                  <li ng-repeat="path in response.breadcrumb" ng-class="{'active' : $last}"><a href="#" data-ui-sref="{{path.name}}"></a> {{path.name}}</li>
               </ul>
            </div>
            <div class="col-lg-4"> 
               <input type="text" class="form-control query_home_search" placeholder="Search for..."></input> 
            </div>
         </div>
         <div class="row">
            <div id="Pivotaltab" class="col-lg-12">
               <div class="container-fluid">
                  <div class="col-lg-9 bg-white">
                     <div>
                        <span class="h1tag">{{response.name}}</span><span class="h2tag">Subscribe</span>
                        <p class="para" ng-class="!edDesc ? 'show' : 'hide'">{{response.description}}</p> 
                     </div>
                     <textarea ng-class="edDesc ? 'show' : 'hide'" class="txtArea" ng-model="response.description"> {{response.description}} </textarea>
                     <span class="fa fa-pencil-square fa-2x pull-xs-right fa-border" style="color:#999999" ng-click="edDesc=true" ng-class="!edDesc ? 'show' : 'hide'"></span>

                     <button type="button" class="btn1 btn-primary-outline" ng-class="edDesc ? 'show' : 'hide'" ng-click="edDesc=false"> update </button>

                     <div>
                        <button type="button" class="btn btn-primary" ng-repeat="tag in response.tags">{{tag.name}}</button> 
                        <button type="button" class="btn1 btn-primary-outline">+</button>
                     </div>
                  </div>
               </div>
               <div class="container-fluid jumbotron">
                  <div class="col-lg-12">
                     <div class="col-lg-9 bg-white paddingZero">
                        <ul class="nav nav-tabs">
                           <li class="active"><a data-toggle="tab" href="#PROPRTIES">PROPRTIES</a></li>
                           <li><a data-toggle="tab" href="#ACCEPTABLE">ACCEPTABLE USE</a></li>
                           <li><a data-toggle="tab" href="#links">LINKS</a></li>
                        </ul>
                        <div class="tab-content padding30">
                           <div id="PROPRTIES" class="tab-pane fade in active">
                              <div ng-repeat="(key, value) in response.properties">
                                 <div data-ng-if="isString(value)">
                                    <span>{{key}}:</span> <span class="left-margin30">{{ value}}</span>
                                 </div>
                                 <div data-ng-if="isObject(value) && !isString(value)">
                                    <span> {{key}}:</span> 
                                    <div ng-repeat="(key1, value1) in value"> 
                                       <span>{{key1}}:</span> <span class="left-margin30">{{ value1}}</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="ACCEPTABLE" class="tab-pane fade">
                              <span>{{response.acceptableUse}}</span>
                           </div>
                           <div id="links" class="tab-pane fade">
                              <div ng-repeat="link in response.links">
                                 <span>{{link}}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <span class="fa fa-pencil-square fa-2x pull-xs-right fa-border" style="color:#999999" ng-click="edGenric=true" ng-class="!edDesc ? 'show' : 'hide'"></span>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="col-lg-12">
                  <div class="col-lg-9">
                     <h1>Comments</h1>
                     <div ng-repeat="comment in response.comments">
                        <p>{{comment.description}}</p>
                        <p><a>{{comment.userName}}</a></p>
                        <p> {{comment.dateTime}}</p>
                     </div>
                     <button type="button" class="btn1 btnprine2 pull-right">ADD COMMENT +</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
</script>