<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pivotal </title>

    <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="dgc">

    <div id="wrapper" class="wrapper-padding"  ng-controller ="PivotalController">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-width">
            <ul class="sidebar-nav">
            <!--     <li class="sidebar-brand bdr-bottam">
                    <a href="#">
                       <span class="pull-left" style="color:#fff;">Apache Atlas</span>
						<img src="img/user7.png">
                    </a>
                </li> -->
                <li class="bdr-bottam">
				 
                    <a href="#" style="color:#fff;">
					<span class="left-menuitem active"><a data-ui-sref="pivotal">Pivotal Labs</a></span>
					<span class="badge badge-info">3</span>
					</a>
                </li>
                <li class="left-margin">
                    <a href="#"> <span>Uncategorized</span>
					<span class="badge badge-danger">14</span>
					</a>
                </li>
										<li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">dev-langauges.xls</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-th"></span>
                                            <span class="mrgin">NEW_LANG_LIST</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">programming-tools.xls</span></a>
                                        </li>
                                        <li class="bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">langauges-checklist.org</span></a>
                                        </li>
                                        <li class="bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">retired-langauges.cvs</span></a>
                                        </li>
                                        <li class="bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">fav-langauges.cvs</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">popular-lang.html</span></a>
                                        </li>
										<li class="bdrnone">
                                             <a href="#"><span class="fa fa-th"></span>
                                            <span class="mrgin">LANG_ACCOUNTS</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">best-lang-for-web.xls</span></a>
                                        </li>
										 <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">langauge-feedback.csv</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-th"></span>
                                            <span class="mrgin">RELEASES</span></a>
                                        </li>
										<li class="bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">new-langauges.txt</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">java-notes.txt</span></a>
                                        </li>
                                        <li class="bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">css-hhacks-new.xls</span></a>
                                        </li>
										
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="page-content-wrapper-widht">
            <div class="container-fluid">
			 <div class="row menu-top">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 top-menu-item1">
					 <a href="#menu-toggle" id="menu-toggle"> 
                        <span><i id="headernav" class="fa fa-bars" style="font-size: 45px;"></i></span>
                        <!--<span><i id="headernav2" class="fa fa-chevron-left" style="font-size: 45px;"></i></span>-->
					 </a>
                    </div>
                    <div class="col-lg-6 top-menu-item">
                        <ul class="breadcrumb breadcrumb-default">
                            <li><a href="#" data-ui-sref="pivotal">Pivotal</a></li>
                            <li><a href="#" data-ui-sref="asset">Services</a></li>
                            <li class="active" data-ui-sref="labpractice">Pivotal Labs</li>
                        </ul>
                    </div>
                    <div class="col-lg-4"> 
                                <input type="text" class="form-control query_home_search" placeholder="Search for..."></input> 
                    </div>
                </div>
				
                <div class="row">
                    <div class="col-lg-12">
                         <h1>Hello {{name}}</h1>
                       
					  
                       <div class="container-fluid jumbotron">
					   <div class="col-lg-12">
                           
							
							<div class="col-lg-5">
                                <h3 class="headingwidth">Bookmarked</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">dev-langauges.xls</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-th"></span>
                                            <span class="mrgin">NEW_LANG_LIST</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">programming-tools.xls</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">langauges-checklist.org</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">retired-langauges.cvs</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">fav-langauges.cvs</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">popular-lang.html</span></a>
                                        </li>
                                    </ul>
                            </div>
						
							
							<div class="col-lg-5">
                                <h3 class="headingwidth">Subscripition</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">dev-langauges.xls</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-th"></span>
                                            <span class="mrgin">NEW_LANG_LIST</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">programming-tools.xls</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">langauges-checklist.org</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">retired-langauges.cvs</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                             <a href="#"><span class="fa fa-file"></span>
                                            <span class="mrgin">fav-langauges.cvs</span></a>
                                        </li>
                                        <li class="list-group-item bdrnone">
                                            <a href="#"> <span class="fa fa-file"></span>
                                            <span class="mrgin">popular-lang.html</span></a>
                                        </li>
                                    </ul>
                            </div>
						
							
						</div>
						 
                      </div>
					   
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!--  Core JavaScript -->
 <script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/lib/angular-cookies/angular-cookies.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/angular-sanitize/angular-sanitize.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/lib/angular-ui-utils/ui-utils.js"></script>
<script src="/lib/lodash/lodash.js"></script>
<script src="/lib/d3/d3.js"></script>
<script src="/lib/d3-tip/index.js"></script>
<script src="/lib/jquery-ui/ui/jquery-ui.js"></script>

<script src="/js/app.min.js"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
