    <div class="row" ng-repeat="itAdd in itemsToAdd track by $index">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="typeName"> Name:</label>
            <input type='text' ng-model="itAdd.name" placeholder='Enter Name' required>
        </div>



    <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="typeName"> Data Type:</label>
        <input type='text' ng-model="itAdd.dataTypeName" placeholder='Enter Data Type' required>
         </div>



    <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="typeName"> Multiplicity:</label>
        <input type='text' ng-model="itAdd.multiplicity" placeholder='Enter Multiplicity' required>
      </div>




    <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="typeName"> isComposite:</label>
        <input type='text' ng-model="itAdd.isComposite" placeholder='Enter isComposite' required>
    </div>



    <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="typeName"> isUnique:</label>
        <input type='text' ng-model="itAdd.isUnique" placeholder='Enter isUnique' required>
    </div>



    <div class="form-group">
        <div class="col-sm-2"></div>
        <label class="control-label col-sm-2" for="typeName"> isIndexable:</label>
        <input type='text' ng-model="itAdd.isIndexable" placeholder='Enter isIndexable' required>
    </div>

        <div class="form-group" >
        <button class="btn btn-default" ng-click="add(itAdd, $index)">Submit</button>

        </div>
        <!--<input ng-repeat="field in table.fields track by $index" type='text' ng-model='table.fields[$index]' placeholder='Attribute:'>-->

    </div>
    <div>
        <button class="btn btn-default" ng-click="addNew()">Add new</button>
    </div>
</div>