<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div data-ng-controller="EntityController">


   <div > <h4 class="col-offset-2 col-sm-9 pull-right">Create Entities for Table,DB,Column,Load Process</h4></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <form class="form-horizontal appForm" role="form" ng-submit="appForm.submit();">
<div class="center-block">
        <div class="form-group categories " >
            <div class="col-sm-2"></div>
            <label class="control-label col-sm-2" for="category">Select Category:</label>
            <div class="col-sm-4">
            <select class="form-control .pull-right" id="category" ng-init="category=2" ng-model="category" ng-change="getviewtype()">
                <option value="2"  selected="selected">Table</option>
                <option value="3" >LoadProcess</option>
                <option value="4" >DB</option>
                <option value="4">Column</option>
            </select>
                </div>
        </div>
        <div  data-ng-include="'/modules/entities/views/entitytypes/'+viewtype+'.html'"></div>
</div>
    </form>

</div>